extends layouts/default

block content
	.container
		.portfolioHeading.padded
			h1 Hi!
		.homedesc.padded.revealContent.hidden 
			.quote I bring designs to life
			.desc Digital & tangible, micro & macro, interfaces & interactions. Leveraging my programming background and design education to rapidly build and test prototypes.