extends layouts/default

block content
	.container
		.pageHeading.padded
			h1 Dipt <br /> Chaudhary
		.revealContent.hidden
			a(href='ticket.html').homepagecard
				.photobckdiv
				.details
					.cardHeading Secure Bus Tickets
					.tags
						.tagitem UX Design
						.tagitem Civic Hackathon Winner
			.homepagecard
				.photobckdiv
				.details
					.cardHeading 360 Photo Viewer
					.tags
						.tagitem UX Design
						.tagitem Prototyping
			a(href='portfolio.html').cta-btn View Portfolio
			.contactheading.padded
				h1 Get in Touch
