extends layouts/default

block content
	.container
		.portfolioHeading.padded
			h1 Portfolio
		.portfoliofilter.staggerChildren
			.filterItem.active.hiddenStaggerItem All
			.filterItem.hiddenStaggerItem Research
			.filterItem.hiddenStaggerItem UX
			.filterItem.hiddenStaggerItem Prototyping
			.filterItem.hiddenStaggerItem Speculative
		.portfolioCardHolder.revealContent.hidden
			a(href='ticket.html').portfolioCard
				.cardHead Secure Bus Tickets
				.cardDesc Mobile based tickets for riders of Bloomington
			.portfolioCard
				.cardHead Secure Bus Tickets
				.cardDesc Mobile based tickets for riders of Bloomington
			.portfolioCard
				.cardHead Secure Bus Tickets
				.cardDesc Mobile based tickets for riders of Bloomington
			.portfolioCard
				.cardHead Secure Bus Tickets
				.cardDesc Mobile based tickets for riders of Bloomington