extends layouts/default

block content
	.container
		.portfolioHeading.padded
			h1 Secure Bus Tickets
		.projectdetails.staggerChildren
			.projectItem.hiddenStaggerItem May 2017
			.projectItem.hiddenStaggerItem User Research
			.projectItem.hiddenStaggerItem Prototyping
			.projectItem.hiddenStaggerItem Interaction Design
		.revealContent.hidden.padded 
			.buttonHolder
				a(href='#').cta-btn Visit Website
				a(href='#').cta-btn.muted View on Github
			.sectionHeading Understanding
			.desc 
				p I bring designs to life. Digital & tangible, micro & macro, interfaces & interactions. Leveraging my programming background and design education to rapidly build and test prototypes
				p I bring designs to life. Digital & tangible, micro & macro, interfaces & interactions. Leveraging my programming background and design education to rapidly build and test prototypes
			.imgholder
				.projectimgLarge
				.imgcaption User Research Bloomington, IN
				.imginsight I bring designs to life. Digital & tangible, micro & macro, interfaces & interactions. 
			.sectionHeading Insights
			.list
				.listitem 
					.symbol
					.text I bring designs to life. Digital & tangible, micro & macro, interfaces
				.listitem 
					.symbol
					.text I bring designs to life. Digital & tangible, micro & macro, interfaces
				.listitem 
					.symbol
					.text I bring designs to life. Digital & tangible, micro & macro, interfaces
			.imgholder
				.projectimgLarge
				.imgcaption User Research Bloomington, IN
				.imginsight I bring designs to life. Digital & tangible, micro & macro, interfaces & interactions.
			.desc 
				p I bring designs to life. Digital & tangible, micro & macro, interfaces & interactions. Leveraging my programming background and design education to rapidly build and test prototypes
			.projectquote I bring designs to life
			.desc 
				p I bring designs to life. Digital & tangible, micro & macro, interfaces & interactions. Leveraging my programming background and design education to rapidly build and test prototypes
				p I bring designs to life. Digital & tangible, micro & macro, interfaces & interactions. Leveraging my programming background and design education to rapidly build and test prototypes
			hr
			.portfolioCardHolder
				a(href='ticket.html').portfolioCard
					.cardHead Secure Bus Tickets
					.cardDesc Mobile based tickets for riders of Bloomington
				.portfolioCard
					.cardHead Secure Bus Tickets
					.cardDesc Mobile based tickets for riders of Bloomington
			hr
		