doctype html
html.no-js(lang='')
	include header.pug
	body
		#loader-wrapper
			#loader Loading logo here
		include nav.pug
		main#barba-wrapper(aria-live='polite')
			.barba-container(data-namespace='ts')
				block content
	include footer.pug